[2021-03-16 12:20] petrvecera opened #8 "Chart legends are not being updated properly"
![image](https://user-images.githubusercontent.com/8086995/111307918-59ff1500-865a-11eb-9c7a-19c9ae40e7c0.png)
![image](https://user-images.githubusercontent.com/8086995/111307934-5e2b3280-865a-11eb-91b7-3035c8a32b2b.png)

Seems like it affects only build version ? Investigation needed.

[2021-03-19 21:58] petrvecera commented on #8
Caused by https://github.com/plouc/nivo/issues/1407 and https://github.com/pmndrs/react-spring/issues/1078

[2021-03-19 23:17] petrvecera commented on #8
Fixed by workaround https://github.com/petrvecera/coh2ladders/commit/fcd6fbd7b0a6dc3ead7eb7dd3ba0e96ee385d790#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R17

[2021-03-19 23:17] #8 closed

[2021-03-23 22:58] petrvecera opened #11 "Error in fetching the player matches - Too many requests - again"
We hit too many requests error again - not really sure why. It's not obviously super fast in that particular moment in the logs.
![image](https://user-images.githubusercontent.com/8086995/112227894-a33dfe80-8c30-11eb-8959-df76dcd4a1a4.png)

Mitigation - use rate limiter on our side https://www.npmjs.com/package/limiter
at
https://github.com/petrvecera/coh2ladders/blob/76021bdd6d253c873ac90c34598df

[2021-03-23 22:59] petrvecera opened #12 "Add COH fav icon"
We need beter Fav Icon
put it into
https://github.com/petrvecera/coh2ladders/tree/master/packages/web/public

currently we have default react one
![image](https://user-images.githubusercontent.com/8086995/112229747-d8981b80-8c33-11eb-93fa-9a9c1ce7e8f5.png)

[2021-03-28 22:53] petrvecera opened #16 "Menu does not load dynamically selected items by path"
top menu takes the selected items from path only when it's first rendered, we probably need to do re-render on other changes so it's always correct

[2021-03-30 09:43] #16 closed

[2021-03-30 09:43] #12 closed

[2021-04-03 20:54] petrvecera opened #21 "Add arranged teams into stats"
It should be as with http://coh2chart.com/

Problem: We don't know how to tell the teams apart.

Explore the API response on available ladders https://coh2-api.reliclink.com/community/leaderboard/GetAvailableLeaderboards?title=coh2

It looks like statgroup_type  is either 1(random) or 2 in (arranged teams)
But than on the single match object it's not mentioned anywhere.

The single match object fr

[2021-04-05 11:39] petrvecera opened #22 "Commanders bar chart in daily stats is causing error `change in the order of Hooks called`"
![image](https://user-images.githubusercontent.com/8086995/113570250-440ac180-9614-11eb-9a2e-88dc83a15cbb.png)

![image](https://user-images.githubusercontent.com/8086995/113570263-4c62fc80-9614-11eb-8921-dfe335032846.png)

[2021-04-05 11:46] petrvecera commented on #22
It's caused by useHistory in the bar chart ??
![image](https://user-images.githubusercontent.com/8086995/113570768-49b4d700-9615-11eb-8130-348134282474.png)

[2021-04-05 11:53] petrvecera commented on #22
Fixed in https://github.com/petrvecera/coh2ladders/pull/23

[2021-04-05 11:53] #22 closed

[2021-04-05 12:00] petrvecera commented on #22
The issue was that I didn't call the function CommandersBarChart as a react component but rather as function.

[2021-04-05 14:06] LazyRen opened #24 "[Feature Request] Match stats vs. faction"
First of all, thank you for reviving coh2stats. I'm really happy to see the site again.

My request is that since we already have detail match info. present (such as commando / intel bulletins), add one more section to show what faction they played against & win ratio. (at least for 1vs1).

It would give such a good insights.

Thank you!

[2021-04-05 21:18] petrvecera commented on #24
So you want to be able to pick a commander and see his winrate against different factions? We could add that "easily". The downside is that we don't really know if that commander was picked in the match, we only know that it was available for the winning player.

I think the best approach would be combinations of the three commanders, to make a groups from them. However that would be "quite compli

[2021-04-06 23:57] LazyRen commented on #24
No actually, just a vs win ration between factions.

For example, at the moment we can only view
USF win ration as a whole.
If would be better to see a section that shows win ratio
USF vs. OKW
USF vs. OST

Thank you.

[2021-04-07 15:12] petrvecera commented on #24
Oh I see. Thanks for clarification. Yep it would make more sense to have this in 1-1. Will try to add it to the stats function.

[2021-04-08 14:45] petrvecera opened #26 "BUG - Specific player is crashing the match view"
This player is crashing the match view

https://coh2-ladders-dev.web.app/matches/player/76561198003896390

[2021-04-11 21:06] petrvecera commented on #11
The frequency of this issue is kind of low
![image](https://user-images.githubusercontent.com/8086995/114321308-7a67a580-9b1a-11eb-8c42-31a9e0a1dd70.png)

[2021-04-20 21:49] petrvecera opened #29 "There is more result types"
`packages/functions/src/libs/analysis/match-analysis.ts`

There is more results types than
[code]

There is also 2,3,4 ? We have in DB 4 - see match ID `251620740`

The code which counts this looks like this
[code]

We might need to consider what do to with those matches. Do we want to count them too?

[2021-04-25 09:06] petrvecera commented on #29
Fixed in https://github.com/petrvecera/coh2ladders/commit/27b19ba5bbf39419cbe0a48c59c84140ba75d6e8

[2021-04-25 09:06] #29 closed

[2021-04-25 16:38] liaoyuzh opened #30 "Questions about getting data from api and interpreting it"
So far I only know these api methods from a forum https://pastebin.com/raw/8CNjUJA8. However, I am more curious about the other methods available to users. Where can I find documentation, list of methods etc to request data by myself?

In addition, if available, I want to know if the following data are available for each match:

Also, by inspecting a match info data, I notice the
[code]
are encode

[2021-04-26 09:09] petrvecera commented on #30
Hi Liaoyuzh

As  mentioned this not official web-site / not associated with Relic in any way. I don't have access to any documentation or anything else.  I am not aware of more API requests than https://pastebin.com/raw/8CNjUJA8

[code]
Are the 2 main API functions this site is build on. And as you might noticed, they are not ideal but that's what we need to work with - and I am doing a lot of dat

[2021-04-27 02:40] liaoyuzh commented on #30
@petrvecera That helps a lot! A few more questions:
1. I'm able to get commander choices of each player from the getRecentMatchHistory api call, however I dont get access to which commander they lock in repectively in that game, right? Because I want take a look into how comander choice affects winratio in different time period.
2. Whats the max api calls I can request? per day? what are the restr

[2021-04-27 12:28] petrvecera commented on #30
Yes I was not able to find out this information. It's could be in the slot info, idk :(

2. idk, I've encountered errors 429 (too many requests) sometimes https://github.com/petrvecera/coh2ladders/issues/11
I never tried to push really hard on the API. In general my app is doing around ~5k requests/ day right now.

I don't want to cause issues on the Relic side - so they don't block this kind of a

[2021-05-01 05:24] LazyRen commented on #21
Quick question, does match involving AT still counted with current all player / top200 matchups?

[2021-05-01 10:33] petrvecera commented on #21
Yes it counts. Because I can't tell from the match records if they were played with AT or not.

[2021-05-01 12:12] petrvecera opened #31 "Figure out the stored data --> do cleanup"
Firestore does not really show how much data is really stored. It could be this value. But I am unsure with the "today" value as this number is smaller the other days.

![image](https://user-images.githubusercontent.com/8086995/116782037-2ac82a00-aa87-11eb-848c-ee010f9bd52c.png)

We should probably do some clean up of old matches we have.

[2021-05-01 20:58] petrvecera opened #32 "Error: Value for argument "FieldValue.increment()" is not a valid number."
[code]

[2021-05-02 09:00] petrvecera commented on #32
Should be fixed.

[2021-05-02 09:00] #32 closed

[2021-05-04 19:44] petrvecera commented on #24
I've been thinking about this feature for some time now - didn't have yet time to dig into it. I am considering adding this globally for all the match types.

I think it would be interesting see the combinations. But I am not sure how to store the data information. It looks like really a lot of combinations. I am not sure how to approach keeping / storing the data. If we would consider just 1-1 we

[2021-05-06 16:15] petrvecera commented on #24
I've got his figured out.

Single match analysis will do:

### Determine the team composition

- First go trough the match players and separate them into two teams.
Go trough the team composition. And create the short description.

Description will be like this:
Axis:
[code]
Allies:
[code]

In implementation we will create a factions = ["O", "W", "O"] for example in 3v3 game.  We will always run t

[2021-05-12 15:08] petrvecera commented on #31
![image](https://user-images.githubusercontent.com/8086995/117998977-b02fc200-b344-11eb-9f7f-c8001dfa9b90.png)

[2021-05-19 17:45] petrvecera commented on #24
This feature has been released https://coh2stats.com/stats/week/1620604800/1v1/wermacht?statsSource=all

I wanted to make sure the routing work with it but I don't have time to look into. But the main thing is done!

[2021-05-19 17:45] #24 closed

[2021-05-22 13:01] LazyRen commented on #24
Thank you for the feature update! Awesome!

However, I have one small suggestion regarding to the term.

![1](https://user-images.githubusercontent.com/8989837/119226954-a4af7880-bb46-11eb-9e6f-4e96d62aee77.PNG)

Above screenshot is from 2021-19th Top 200 1vs1.

As we all know, Axis has two factions.

Wehrmacht Ostheer (WM or Ostheer)
Oberkommando West (OKW)

Team composition matrix uses one chara

[2021-05-22 13:37] petrvecera commented on #24
Yeah you are right. Actually it's the other way around. It's Wehrmacht and OKW 🤕
![image](https://user-images.githubusercontent.com/8086995/119228322-c262ea80-bb12-11eb-9d41-3368a0737dd5.png)

I was thinking about putting whole name there, but than in 4v4 .. it needs to be 1 character or the label would be too long.
![image](https://user-images.githubusercontent.com/8086995/119228381-0ce46700-bb13

[2021-05-22 17:48] LazyRen commented on #24
Yeah adding legend will do just fine. Thank you.

[2021-06-04 18:24] petrvecera commented on #31
![image](https://user-images.githubusercontent.com/8086995/120846800-ed1d5c00-c572-11eb-8f1b-70b7df50caaa.png)

[2021-06-17 12:57] petrvecera commented on #31
![image](https://user-images.githubusercontent.com/8086995/122400766-4f675b00-cf7c-11eb-8db5-0e0ac5d8cacb.png)

[2021-07-25 12:02] petrvecera commented on #31
We are at 15GB :/
![image](https://user-images.githubusercontent.com/8086995/126898236-fb99bef9-588a-471d-a2ca-654a71d720dd.png)

[2021-07-29 21:16] petrvecera commented on #31
Ladders are 600MB/month probably

[2021-07-29 21:56] petrvecera opened #47 "Add note and link to intel bulletins page"
Some people may enter via bulleints page on google, let's add note where they can see the live stats

[2021-07-31 07:07] LazyRen opened #51 "[Feature Request] Implement "month stat so far" feature"
Hello,

Currently, week or month view shows below message if the full period has not been ended.

[code]

But (I believe) many users want to see recent statistics before the month ends. Especially if half of the month has been passed.

So I suggest to enable Month view that shows (1st day of the month ~ day before today).

It will benefit user experience, since at the first click of week or month,

[2021-07-31 21:45] petrvecera commented on #47
Fixed

[2021-07-31 21:45] #47 closed

[2021-07-31 21:46] petrvecera commented on #26
Fixed, the player has no matches ...

[2021-07-31 21:46] #26 closed

[2021-07-31 22:19] petrvecera opened #53 "[BUG] Commanders does not show CP points"
http://localhost:3000/commanders/wermacht/5570

[2021-08-01 09:19] petrvecera opened #54 "Enable dark mode / light mode switch"
We could try to add dark mode, there could be a switch in top right corner

https://ant.design/docs/react/customize-theme#Official-Themes-%F0%9F%8C%88

After adding this we need to verify that all components are displayed correctly

[2021-08-01 15:20] petrvecera opened #56 "Add full leaderboards from Relic"
currently the leaderboards are loaded from our DB, we could modify them to load them directly from relic ...
in that case we could show all leaderboards, all pages https://coh2stats.com/leaderboards

[2021-08-03 21:01] petrvecera opened #58 "Feral accounts are not supported"
There exists multiple types of accounts. For example when you search this one https://coh2-api.reliclink.com/community/leaderboard/GetPersonalStat?title=coh2&search=rak

[code]

Which are not supported by the system. Only steam accounts like this:
[code]

IDK where it could be problem but 100% search does not support feral accounts and filters them out.

[2021-08-22 17:12] petrvecera commented on #31
The sizing of objects (without names)
[code]
Per day we have:
- 2x stats === 47.1kB
- 26x ladders === 4797.65kB

// Matches are deleted after 3x month
- ~3000 matches === 32MB

-----------------------
Month:
- stats = 1410 kB
- ladders  = 143.9295 MB

-------
We have push down the ladders as much as possible

[2021-09-11 11:30] petrvecera opened #73 "Refactor the commanders list"
https://coh2stats.com/commanders/wermacht

Right now we have a list like this:
![image](https://user-images.githubusercontent.com/8086995/132946281-63ef86b1-7b73-482a-ba81-f8bff3766cba.png)

The goal would be to have a list similar to the list as shown here https://coh2index.com/army/west_german.html (bottom of page)
but still maintain the description ...
![image](https://user-images.githubusercon

[2021-09-11 11:34] petrvecera opened #74 "Add simple search to the bulletins page"
https://coh2stats.com/bulletins

Right now you can search by name if you click on the menu.
![image](https://user-images.githubusercontent.com/8086995/132946469-5645e45f-1079-43c4-b266-81c2ddb64b21.png)

But it would be great to have input field for the name filtering above the table. It should be connected to the filter on the column .
Materials: https://ant.design/components/table/#components-ta

[2021-09-11 11:41] petrvecera commented on #31
Will be removing almost the old matches - we are accumulating a lot of data ...
Will move to deleting all ladders too.

[2021-09-13 12:55] petrvecera opened #75 "Add patch dates into a datepicker dates"
The date picker could have marked dates which are the patch dates.
![image](https://user-images.githubusercontent.com/8086995/133086549-29b29589-9a55-4141-b1cf-f0025114c3bf.png)
This could be added into the stats date pickers but also leaderboards datepickers. Should be visible only in day, week pickers. I am not sure how it would behave in the month one?

The patches info can be found here `packa

[2021-09-15 04:04] poly4concept commented on #74
Hi @petrvecera I would love to work on this if you can assign it to me
but for clarity:
- there should be an input to filter the table at the top
- be connected to the filter on the table
- should filter without button action
- the input should  be debounced for a while to improve performance

[2021-09-15 11:49] petrvecera commented on #74
@poly4concept  sure! Awesome. Do you want to leave this till Hacktoberfest? So it's counted when it starts? :)

Btw I think you got it correctly.

One note - I am not sure if it's easy to connect the name filter in the table with outside one. In case it's not an easy solution I would disable the "name" filter in the table and left just the outside one. Some examples could be found here probably ht

[2021-09-16 03:52] poly4concept commented on #74
@petrvecera I have been trying to figure out  the possibilities
[here](https://codesandbox.io/s/q-57471984-searchintable-forked-j49jb?file=/src/App.react.js)
but I will fork the repo and play around with and get back to you

[2021-09-16 03:54] poly4concept commented on #74
I don't know a lot about this Hactoberfest but I will wait till then to make the PR

[2021-09-16 13:55] petrvecera commented on #74
Oh I thought that you found this issue because of that tag. It's this https://hacktoberfest.digitalocean.com/
It's up to you, if you want to be part of that initiative. All the MRs made in October in open source can be counted towards it. You can get free t-shirt 👕

[2021-09-21 13:51] petrvecera opened #77 "Fix mode filtering on last matches table"
https://coh2stats.com/players/76561198034318060?view=matches

Filtering in the table doesn't work for the mode. Other works.
![image](https://user-images.githubusercontent.com/8086995/134179336-b6554bbf-7e11-4768-9120-f6150b3abf36.png)

Most likely  issue with == vs === needs to be tested
https://github.com/petrvecera/coh2ladders/blob/master/packages/web/src/pages/matches/last-matches-table.tsx#L3

[2021-09-23 21:29] petrvecera opened #78 "Add download button into match details - generate .json file"
- When you open match details for a player http://localhost:3000/players/76561198018614046?view=matches
- You can open full details modal
![image](https://user-images.githubusercontent.com/8086995/134585274-5289ae66-be5d-48f8-bbc3-e7525b6ecb54.png)

# Task: Add download button to the modal which will export the game data into .json file
![image](https://user-images.githubusercontent.com/8086995/13

[2021-09-23 21:47] petrvecera opened #79 "Remove beta label from the top site"
There is no longer need for beta ribbon in the top left corner
![image](https://user-images.githubusercontent.com/8086995/134588358-610dc5f1-6609-4fd0-b7f6-5c51566b7ee4.png)

We can remove it by deleting component `<BetaVersion />` in app.tsx `packages/web/src/App.tsx`
https://github.com/petrvecera/coh2ladders/blob/master/packages/web/src/App.tsx#L88

_We can leave the source code for that compone

[2021-09-24 06:50] Divyateja04 commented on #79
I'm willing to work on this, is it okay if I submit my PR during October so that it counts towards hacktoberfest

If yes, can you please assign this to me

[2021-09-24 06:52] Divyateja04 commented on #54
No offence, just a suggestion but you can use styled components to implement that easily something like the top right corner on my portfolio
https://divyateja04.github.io

[2021-09-25 00:47] poly4concept commented on #73
Hi @petrvecera I would love to work on this also for the hactoberfest, pls do assign it for me
by the way, I can't seem to get hold of the `assets` folder, pls point it to me

[2021-09-25 00:59] poly4concept commented on #74
@petrvecera pls assign this issue to me

[2021-09-27 13:26] petrvecera commented on #73
There is several helper function to get the information needed. These functions are in files in folder `packages/web/src/coh/`
For example: `packages/web/src/coh/commanders.ts` and `packages/web/src/coh/helpers.ts`

The assets are in folder `packages/web/public/resources/exportedIcons` but there is lot of files - they are exported from the game. So we need to be smart about accessing them - that's

[2021-10-01 09:33] Divyateja04 commented on #79
I did PR, can you check it?

[2021-10-01 09:36] #79 closed

[2021-10-01 10:26] petrvecera commented on #79
Thanks, deployed and works https://coh2-ladders-dev.web.app/

[2021-10-01 10:37] Divyateja04 commented on #79
Honestly speaking it was a easy fix, If you have any other issues that are sorta easy, I can look into them too

[2021-10-01 12:07] petrvecera commented on #54
Styled components is a framework to more easily style your specific component. This task is little bit more complicated. We are not building our styling. Most of the components on the site are using default styles from [antd ](https://ant.design/) component library. Which already provides dark theme.

Building dark theme on our own would be extremely hard job given the components we have. It could

[2021-10-01 12:08] petrvecera commented on #79
@Divyateja04  this one should be also easy fix https://github.com/petrvecera/coh2ladders/issues/77 if you want 😉

[2021-10-01 13:00] Divyateja04 commented on #77
I would like to try working on this, can you assign it to me?

[2021-10-02 03:19] Divyateja04 commented on #77
Hey, also, I generally use npm but installed yarn for this project but somehow it never runs completely....it always tells there's some problem with your network
For one date-fns it clearnly shows a link and says econnrefused and when i go to the link it gives it says package doesn't exist
https://registry.yarnpkg.com/date-fns/-/date-fns-2.24.0.tgz:

[2021-10-02 03:20] Divyateja04 commented on #77
Can you tell how to solve this?

[2021-10-02 04:26] Divyateja04 commented on #77
When I tried npm install in web folder and then run npm start, I get these errors:
![image](https://user-images.githubusercontent.com/28446977/135703482-1b9d4002-9439-479e-be11-1d113b9d3075.png)
Can you tell if you have any idea to solve them?

[2021-10-02 04:37] Divyateja04 commented on #77
okay so to solve them

change `import en from "javascript-time-ago/locale/en";` to `import en from "javascript-time-ago/locale/en.json";`

and also change catch statement in `player-card.tsx`

`
catch (e) {
        let errorMessage = "Failed to do something exceptional";
        if (e instanceof Error) {
          errorMessage = e.message;
        }
        console.error(e);
        setError(error

[2021-10-02 05:04] Divyateja04 commented on #77
Sent the PR, Can you check it?

[2021-10-02 12:33] petrvecera commented on #77
@Divyateja04 our project is not actually managed by npm. We are using `yarn`. To properly install all the packages. You need to do `yarn install` from the root folder of the project.

[2021-10-02 12:44] Divyateja04 commented on #77
yeah sent an updated PR, can you check? and about those messages, I figured it out later, so deleted them...sorry

[2021-10-02 12:55] Divyateja04 commented on #77
hey can you close this too?

[2021-10-02 12:57] petrvecera commented on #77
Thanks for the contribution 👍 :octocat:

[2021-10-02 12:57] #77 closed

[2021-10-02 20:17] #51 closed

[2021-10-02 20:18] petrvecera commented on #51
Should be fixed from now on.

[2021-10-03 21:07] petrvecera opened #86 "CF - Ladders object is not properly cleaned before save to DB"
![image](https://user-images.githubusercontent.com/8086995/135771532-1bddf3ce-d0f7-450e-8067-6bba26405085.png)

https://github.com/petrvecera/coh2ladders/blob/master/packages/functions/src/libs/ladders/ladders-clean.ts#L10

The unit tests are passing correctly. The function should work.
Needs live debugging.

Added debug logs.

[2021-10-04 09:54] binkpitch commented on #78
I would like to try this. Can you assign this issue to me?

[2021-10-04 15:34] petrvecera commented on #78
@binkpitch  sure! If you need help with anything. Let me know!

[2021-10-05 18:33] #78 closed

[2021-10-05 18:55] petrvecera opened #88 "Add links to the player names in the full match overview"
When you open the match over-view, for example on this player https://coh2-ladders-dev.web.app/players/76561198366572706?view=matches and click on some match. The player names are not links. They should be links as in the table.

Task: Make the names links too.
![image](https://user-images.githubusercontent.com/8086995/136084437-a4c52554-8761-4c72-928c-ec9808f718de.png)

The function which renders

[2021-10-05 19:18] Milan218 commented on #88
Hi, I would like to work on this issue, could you please assign it to me?

[2021-10-06 07:32] Milan218 commented on #88
Hi. I've created a pull request for this issue

[2021-10-06 13:46] #88 closed

[2021-10-07 20:16] petrvecera opened #90 "Map stats page title is not updated correctly"
Map stats page title is not updated correctly

https://coh2stats.com/map-stats?range=month&type=4v4&map=8p_redball_express&timeStamp=1633046400

[2021-10-07 21:12] petrvecera opened #91 "Make component for error message & use it with errors."
Right now when something fails. The error message is awful.
For example: https://coh2stats.com/players/76561198018614asfdaf
![image](https://user-images.githubusercontent.com/8086995/136461657-5313dd74-f280-4084-956a-151f921fa059.png)

Task:
Create a new component in `packages/web/src/components` called `AlertBox` which will be build using Antd Alert component https://ant.design/components/alert/

[2021-10-08 18:11] petrvecera opened #92 "Write simple unit tests (~8) for commanders and intel bulletins"
We need to write a simple unit tests for functions written in:
[code]
Both files have very similar functions. Each has ~4 simple functions.
The unit tests can be written with just few assertions.

The unit tests should be created in files:
[code]

You can take insperation in `packages/web/src/tests/coh/patches.spec.ts`
The describe should be always the the name of the function. Example:
[code]
You

[2021-10-09 10:46] #92 closed

[2021-10-09 15:30] petrvecera opened #95 "Improve the search to include local data too - Part 1"
We have search on the page https://coh2stats.com/search/isildur
![image](https://user-images.githubusercontent.com/8086995/136660120-5d14fb34-3840-4051-8eaf-8a3446a98f10.png)

Right now the search calls BE function which finds the players in the database.
However the page except for players has also [Commanders ](https://coh2stats.com/commanders/wermacht )and intel [bulletins](https://coh2stats.co

[2021-10-11 13:22] petrvecera opened #98 "Generate filenames for new icons - commanders [Python]"
In commander patch 2021, we got new commander icons. The problem is that Relic did not update the coh2 tools where data about icons for each commander are saved --> we can't use our scripts to get the right filenames.

And the new icons have new names - we can't just replace them.

- We were able to get the new icons, we have all the exported image files for the game.
- We were able thanks to the

[2021-10-11 13:26] petrvecera commented on #53
Yes those files has to be updated manually. Thank you very much for fixing this issue.

Btw there is another task which requires modifying the python scripts. Just in case you would like to work on something additional. https://github.com/petrvecera/coh2ladders/issues/98

👍

[2021-10-14 14:03] petrvecera commented on #75
Thank you for your contribution 👍

[2021-10-14 14:03] #75 closed

[2021-10-14 14:04] #91 closed, assigned to lpegoraro

[2021-10-16 05:58] some85 commented on #98
I might be able to pick this one up. If I'm understanding this right, we're just looking to pull icon file names from XML files?

Is the current script located at https://github.com/petrvecera/coh2ladders/blob/master/scripts/exportImages.py? I can modify it, but I have some questions:

1. Is this script run in the same directory it's located in the repository?
2. Where are `commanderData.json` and

[2021-10-16 11:32] petrvecera commented on #98
@some85 this task is little bit more complicated. It requires access to the game files and game tools. However I can modify it in a way that you should be able to do it without it! Please let me know if you want to tackle this. Thanks

## Task: Write a new script, called `fixCommanderImages.py`

The task is to change lines in `commanderData.json` based on the xml files in https://github.com/petrve

[2021-10-16 11:34] petrvecera commented on #74
Hi @poly4concept  I wanted to check if you would have time to look into this or I should give it up for grabs for someone else. Thank you

[2021-10-16 11:34] petrvecera commented on #73
Hi @poly4concept  I wanted to check if you would have time to look into this or I should give it up for grabs for someone else. Thank you

[2021-10-16 17:28] #86 closed

[2021-10-17 10:52] petrvecera commented on #98
@some85 that file `commanderData.json` was not there before. I added it .

Btw if you do have the game files. The script which generates the `commanderData.json` is called `bulletinsAndCommanders.py` for it to properly work you have to set correct paths at the begging to `S:/SteamLibrary/steamapps/common/Company of Heroes 2` and `S:/SteamLibrary/steamapps/common/Company of Heroes 2 Tools/` when yo

[2021-10-17 18:27] some85 commented on #98
@petrvecera PR was created with a new script. Big thumbs up for the very detailed task descriptions.

I guessed that `bulletinsAndCommanders.py` generated the data, but it confused me since the lines in that code assumed `commanderData.json` existed to begin with. Hope this solves the issue nicely.

[2021-10-18 13:38] #98 closed, assigned to some85

[2021-10-19 17:48] gunther09 opened #102 "Unit Timing stats"
- when does a flak HT usually first hit the field?
- when do you need to expect the first Comet in a 2v2?

If you can extract this data, this could make an interesting chart.
something like this:
![image](https://user-images.githubusercontent.com/62460943/137963566-f710f1cf-3797-4845-b367-d8848470b043.png)

For the medium level players this is pretty valuable
(I guess the new ones do not care and

[2021-10-24 14:37] petrvecera opened #104 "Add table summary row to player card"
On player cards we have tables https://coh2stats.com/players/76561198018614046

![image](https://user-images.githubusercontent.com/8086995/138598584-318a14df-8536-46c8-a60a-ad9b8d18ccc5.png)

## TASK: Add summary row

See antd documentation how to do that https://ant.design/components/table/#components-table-demo-summary
The table is in `packages/web/src/pages/players/player-single-matches-table.t

[2021-10-28 21:43] #104 closed, assigned to griseduardo

[2021-10-28 22:00] #95 closed, assigned to lpegoraro, petrvecera

[2021-11-11 16:01] petrvecera opened #112 "Player card bug"
investigate this player https://coh2stats.com/players/76561198132689304 total games vs displayed games

[2021-11-12 20:00] petrvecera commented on #112
https://coh2stats.com/players/76561198825460936

[2021-11-13 10:41] petrvecera commented on #112
Fixed

[2021-11-13 10:41] #112 closed

[2021-11-13 11:05] petrvecera opened #114 "Add analysis amount of games VS ranked games VS AI games"
It would be great to have the number how many people are participating in ranked Games vs AI games vs custom games. However it's hard to get because we not tracking all the games...

See explanation https://www.coh2.org/topic/109072/new-leaderboard-and-playercard/post/880333

[2021-11-21 17:07] petrvecera commented on #73
Fixed by https://github.com/petrvecera/coh2ladders/pull/115

[2021-11-21 17:07] #73 closed

[2021-11-22 16:11] petrvecera opened #117 "CF - Optimization of network egress"
After implementing Brotli compression

![image](https://user-images.githubusercontent.com/8086995/142895930-d9719dd9-95cb-4082-83e2-4655a4783035.png)

[2021-11-22 16:36] petrvecera commented on #117
![image](https://user-images.githubusercontent.com/8086995/142899679-b32b96c4-9d93-45c0-8e62-4ce4255ae7c1.png)
You can see the mount of matches which is filtered as duplicate on insert to the database.

[2021-11-29 19:38] JohannesMerkt opened #118 "Feature Request - Add team balance stats based on ranks"
It would be a very interesting statistic to see if matchmaking is allies or axis favored. Basically you would calculate the average rank for the  axis and allies team to see if allies or axis got an "advantage" by the matchmaker. This statistic could be part of the stats page where it would be calculated for General, 1v1, 2v2, 3v3 and 4v4 and displayed as a Pie chart for example.

[2021-11-30 15:26] petrvecera commented on #118
Hi, this would be definitely very interesting. However such statistic is not currently possible. It's related to the reason we can't do arranged vs random teams https://github.com/petrvecera/coh2ladders/issues/21

We would need to know the rank of each player in match and such information is not available in the match data. This would require to have DB of each player and their rank / would need t

[2021-12-17 22:38] petrvecera opened #119 "Add commanders and bulletins to the search results"
Difficulty: Medium
Getting started steps: https://github.com/cohstats/coh2stats#development

We have a search on the site which does API call and shows player cards.
For Example:
https://coh2stats.com/search/killer

We want to improve this search so it also shows results from:
- Commanders https://coh2stats.com/commanders/wermacht
- Intel bulletins https://coh2stats.com/bulletins

(this is static

[2021-12-17 22:42] petrvecera opened #120 "Sync the search on the intel bulletins with query"
On the page https://coh2stats.com/bulletins  we can do search - however it's not put into the path.

We should modify this component to add search data into the url as a query, probably https://coh2stats.com/bulletins?search=text

This component is written at `packages/web/src/pages/bulletins/bulletinList.tsx`

We just need to add code into this function:
[code]

To read the query you can use useQ

[2021-12-18 17:35] roberttow6 opened #121 "Thecountryphone&music"

[2021-12-19 12:00] petrvecera commented on #121
Yo, I am not really sure what you mean by this issue. If you could clarify, ty!  😄

[2021-12-26 23:41] #121 closed

[2022-01-02 14:28] R4md4c commented on #120
Hey @petrvecera, I'm interested in this issue, but one question that's popped in my mind, do you want to add history capabilities to **push** a history of queries towards the browser stack? That would make users be able to navigate back and forth between search query.

[2022-01-03 10:51] petrvecera commented on #120
Yes, I think we can use push() function from `const { push } = useHistory();`

I changing the url query similarly here:
https://github.com/petrvecera/coh2ladders/blob/master/packages/web/src/pages/stats/custom-stats.tsx#L170

Not sure if it's a best way to change the query. But it's working fine there.

[2022-01-03 22:15] #120 closed

[2022-01-05 18:09] JohannesMerkt opened #124 "Discussion - Merging a game stats display into this project"
Hi there again,
three months ago I wrote a little electron app that shows the rankings of the players in your current match.
https://github.com/John-Wickedsick/coh2-player-stats

Back then I wanted to continue to extend this application to also have a detail view available and stumbled upon this project. I have looked at this project and its issues (that have been posted on the repo) in detail and

[2022-01-05 23:14] petrvecera commented on #124
**Problem:  I don't think we would get enough people to use the app.**
This is something I have been thinking about even before - the analysis on player PCs. My biggest issue with that was and still is to get people to use the app.

I am not sure if you have analytics and knows how many people are using your app?
For example I do have mako celo or other apps installed by I start them only rarely,

[2022-01-06 00:02] JohannesMerkt commented on #124
Totally agree with you there. I am not sure how many people are actually interested in running an app like this. Im likely the only one that is using mine. But this is also very likely because I never bothered to make sure the community knows about it. It was mainly a fun project for myself.

I suppose for a start embedding the player card view on the app and creating a player rank overview that m

[2022-01-06 11:38] petrvecera commented on #124
Btw for the streamers what would actually be better is to generate .html file which can be loaded in OBS. There is similar project https://github.com/sepi4/myCeloJs

[2022-01-12 19:03] JohannesMerkt commented on #124
Quick update: The electron-react-boilerplate, that I previously used, does not support yarn. I was looking for ways of build the app with yarn, but ran into issues when using some nodejs specific packages. I will have to resort to using npm due to 1. since I havent found a working solution and 2. its much less complex. I was trying to include this electron package within this monorepo, but now wit

[2022-01-13 17:53] JohannesMerkt commented on #124
I decided to keep trying and I found a way now...

[2022-01-29 16:52] petrvecera opened #126 "COH2 Stats App - README"
Let's create a README describing the app.
I would describe it here https://github.com/petrvecera/coh2ladders/tree/master/packages/app

You can add screenshots and other things the same way it's here
https://github.com/petrvecera/coh2ladders/pull/125

FYI Tip: it's best to write the readme using github online editor - so you can easily put images there

[2022-01-29 16:58] petrvecera opened #127 "Desktop app - create a build via github actions on master"
We should build the app using github actions, this should happen on every merge to master. We should be able to download it via build artifacts - the exe file.

[2022-01-29 16:59] petrvecera opened #128 "Desktop app - create build releases on tags"
When we are tagging new release - the assets should have .exe files, this should be automated via github actions

[2022-01-29 17:03] petrvecera opened #129 "Add desktop app page to coh2stats.com"
We will have new page "Desktop App" probably on the site, where it's gonna be just simple page describing that there is a desktop app
few features and link to the github releases for download

![image](https://user-images.githubusercontent.com/8086995/151669956-f0e19b1a-4e84-4457-ad69-7ab629c2bafc.png)

[2022-01-29 17:04] JohannesMerkt commented on #126
Just now I was investigating the issue you ran into when building the app. I decided to remove the electron-active-window package since it causes alot of problems and provides very little value (it was used to check if the game is currently in active use to not notify when the user is in game). This should then allow you to build the app.  Then I will write a readme.

Maybe I can also try out how

[2022-01-29 17:08] petrvecera opened #130 "Desktop App - add (google) analytics"
We should add google analytics (or any other analytics) to the app.

I've read that there are some problems with Electron and google analytics but there seems to be ways to do it
https://www.npmjs.com/package/electron-google-analytics

We can create any new project in google analytics for this

We basically just need how many people are using it and you can also track how many people are using the

[2022-01-29 17:11] JohannesMerkt commented on #126
@petrvecera also i noticed when you clone the repo and look at the changed files in git it shows me that the appIcon.ico file was changed. When I try to open it it is broken.

Does that happen to you too?

I commited a working ico file before and when I clone the repo it is broken again. not sure why this happens, but if it happens the app will not be able to run and crashes, since it cannot load

[2022-01-29 17:22] petrvecera commented on #126
I've created a several tickets - you can pick anything you like
@JohannesMerkt https://github.com/petrvecera/coh2ladders/issues?q=is%3Aissue+is%3Aopen+label%3Adesktop-app

Yes something is wrong with the icon - it always show as changed. It could be prettier it could be messing it up / or git. I added it to gitattributes
![image](https://user-images.githubusercontent.com/8086995/151670672-6726b219

[2022-01-29 18:27] JohannesMerkt commented on #130
It would also be interessting to know with what kind of settings users are using the app.

[2022-01-29 18:49] petrvecera commented on #130
@JohannesMerkt can you please add me on steam https://steamcommunity.com/id/pagep/  or/and discord `pagep#3171` thanks!

[2022-01-29 21:04] petrvecera opened #134 "Add firebase sdk to the desktop app"
I will add firebase to the desktop app, so we can tap into the coh2stats.com firestore database.
This might be quite complicated thing https://medium.com/firebase-developers/using-firebase-in-electron-tips-and-tricks-24ac5b44bf5a

TOOD need to to research

[2022-01-29 21:53] #127 closed

[2022-01-29 21:53] #126 closed

[2022-01-29 21:58] petrvecera opened #137 "GitHub actions cache doesn't work"
![image](https://user-images.githubusercontent.com/8086995/151678849-26934960-0243-449d-b7d1-db349f58db83.png)

[2022-01-30 10:53] #124 closed

[2022-01-30 15:29] petrvecera commented on #130
Hey I think we could do this via firebase - I didn't know we would be adding firebase to our app before I added the ticket.
![image](https://user-images.githubusercontent.com/8086995/151706081-5375bdb5-6314-49b5-a610-6b122ef607dc.png)
![image](https://user-images.githubusercontent.com/8086995/151706102-8f1d6862-0f2e-4fc1-b8a2-4cb04bbb39e9.png)

So let's postpone this ticket

[2022-01-30 16:37] petrvecera opened #138 "Add amount of online players"
Let's add amount of online players - I imagine that we could have some component in the top right corner ? Maybe it could be a floating one ?

Can look exactly as on on coh2stats.com
![image](https://user-images.githubusercontent.com/8086995/151708380-dcf047a8-2f38-409e-87cc-6e43fb94072d.png)

[code]

![image](https://user-images.githubusercontent.com/8086995/151708352-7c2e2c3e-321e-481a-897b-69a7

[2022-01-30 18:45] petrvecera opened #140 "Add map winrate analysis to the main page"
The idea is that we know the map name and we can get the winrate for the specific team composition from the database.
We could display something like this (attached image) under the main table - btw this is just suggestion, if you have better idea feel free to change it to your liking!

![image](https://user-images.githubusercontent.com/8086995/151712559-23165dc3-181f-4b92-8ded-7cfb495bde2b.png)

[2022-01-30 18:53] petrvecera commented on #134
Fixed by https://github.com/petrvecera/coh2ladders/pull/139

[2022-01-30 19:34] JohannesMerkt commented on #140
Love this concept will look into this

[2022-01-30 19:53] JohannesMerkt commented on #140
Do we have access to data about the win chance based on play time? E.g. in early game (sub 15 min) allies win 45%, mid game allies win 55% of the time ...

[2022-01-30 19:59] petrvecera commented on #140
We don't have that, only games which ends
![image](https://user-images.githubusercontent.com/8086995/151715414-94b3f1bc-ac85-45f8-a5bf-9d8cbe4d407a.png)

Hm I don't think we could measure faction matrix for each gametime category - that would be too much data, but we could certainly in future start measuring wins for axis or allies during those times.

[2022-01-30 20:59] JohannesMerkt opened #141 "Get/Add Replay"
Sharing a replay with others requires you to know how to get a replay out of coh2 and how to add a replay to coh2. A button to "download" a replay from Coh2 and to "upload" a replay to Coh2 could be very convenient.

Just an idea, probably not so important

[2022-01-30 21:02] JohannesMerkt commented on #140
We shouldnt collect this kind of data. If it was already there I could have made use of it.

[2022-01-31 10:09] petrvecera commented on #141
Btw I have seen an app which can automatically handle replays on your computer. It saves it after each match to a new file and I think there was some upload functionality too - can't remember which app  it was and if it still works

[2022-02-01 18:15] JohannesMerkt commented on #140
For the map stats wouldnt it be better to take all matches up to the last patch? Or does this take up too many resources?

[2022-02-01 21:30] petrvecera commented on #140
It would be better to do just the month. The custom range analysis isn't that demanding but if you would do ~1000 / day of them - it would pop on the billing.

[2022-02-02 12:16] petrvecera commented on #140
@JohannesMerkt it has to bee in the render process because the firebase SDK is not made for NodeJS. There is NodeJS SDK which is this one https://github.com/firebase/firebase-admin-node but it's admin - it's for servers / should not be running on clients.

But I think the render layer can push the data in REDUX and store them there right? Personally I would not worry about this - 1-3k requests / d

[2022-02-05 12:33] petrvecera opened #144 "Auto update the desktop app"
https://www.electronjs.org/docs/latest/api/auto-updater

https://www.electronforge.io/advanced/auto-update
^^

[2022-02-05 20:03] petrvecera opened #145 "Add about window"
The app should have About tab, with about window. In the about window we should see:
- Current version
- Link to the website
- Copyright

We should be able to get the version like this https://stackoverflow.com/a/55576488/1768843

The version is really important, so the user know what version they are running and that they can update.

![image](https://user-images.githubusercontent.com/8086995/152

[2022-02-06 14:36] #138 closed

[2022-02-07 09:59] petrvecera commented on #145
Btw a tip - the about window doesn't need to be a new windows window, it can be react window inside the app, we could utilize for example modal https://ant.design/components/modal/ - it could be easier than having a new window. But I don't think it's that important which way we will do it.

[2022-02-08 09:51] petrvecera commented on #130
It looks like it works 👍

![image](https://user-images.githubusercontent.com/8086995/152962245-6bc687b0-2303-460a-bfd6-f956af1b2028.png)

https://console.firebase.google.com/u/0/project/coh2-ladders-prod/analytics/app/web:NTQ3OTE0OGQtOTMzNi00ODMxLTkxYWItNGVhYTg2ZWM5M2Fh/overview/~2F%3Ft%3D1644313817677&fpn%3D293737053254&swu%3D1&sgu%3D1&sus%3Dupgraded&cs%3Dapp.m.dashboard.overview&g%3D1

[2022-02-08 22:55] petrvecera commented on #137
fixed

[2022-02-08 22:55] #137 closed

[2022-02-08 22:55] #134 closed

[2022-02-08 22:55] petrvecera commented on #128
done

[2022-02-08 22:55] #128 closed

[2022-02-13 02:49] brandonlikesguns opened #149 "Issue for me!"
This site keeps deleting dozens of games I play constantly all of the time really wanting help to try and hopefully solve this issue!
https://coh2stats.com/players/76561198800363045

[2022-02-13 12:21] petrvecera commented on #149
Hi the player cards data are taken from Relic. We do not store this data. If there is issue with your player card - it has to be on the Relic side.

As for the last matches. This is also taken from Relic - and Relic keeps only 10 matches for each mode. This means that only last 10 games for 4v4 is kept for you, if you play another games - it's deleted.

We might be able to store /display some matc

[2022-02-13 12:49] brandonlikesguns commented on #149
I appreciate the reply. I understand it only keep records of the past 10
games for each mode but the overall amount of ranked games I have played in
total it keeps deleting dozens of them constantly. I notice it doesn't do
this for other players profiles just mine that I have noticed so far. On my
player profile I have gotten to around 1050 ranked games played very many
times and then it just dele

[2022-02-13 15:11] brandonlikesguns commented on #149
Thank you for the help friend Petr I appreciate it you're the only person
so far that has been able to talk with me about this. Have a good rest of
your day pal!

On Sun, Feb 13, 2022 at 9:53 AM Petr Vecera ***@***.***>
wrote:

[2022-02-13 17:27] petrvecera commented on #130
https://github.com/petrvecera/coh2ladders/pull/150

[2022-02-13 17:27] #130 closed

[2022-02-13 21:53] petrvecera opened #151 "Notification system about new versions which are ready to download"
Let's make a notification system when new release is ready for the desktop app.

1# How to store the info that new version is ready.
- Is there online some service / solution which could help us ?
- I think we can just pull some file online and check if there is new version. For example we can put file on `coh2stats.com/electron-app.json` which we can manually update.

I think the manual update is

[2022-02-13 22:04] petrvecera commented on #151
We can create the update file in this folder `packages/web/public/electron-app-version.json` once we do release, it's gonna be released to `coh2stats.com/electron-app-version.json`

[2022-02-14 09:03] tangmeme-i commented on #144
Senior, please tell me about the zip package generated after packaging with electron updater on the Mac. After decompression, it shows that you don't have permission to open the application. I display the contents of the package and view the execution file in the MacOS file in the format of manuscript. As a result, I can't start this compressed package after the update process is completed. It has

[2022-02-14 09:47] petrvecera commented on #144
Hi , I think you have found a wrong forum. I would recommend you to go on https://stackoverflow.com/ or sites like that :D

[2022-02-15 10:23] #145 closed

[2022-02-15 10:23] #151 closed

[2022-02-15 17:23] petrvecera opened #155 "Move request for map stats data to main render"
CurrentGameOverview is making request for the map API stats. https://github.com/petrvecera/coh2ladders/blob/master/packages/app/src/renderer/features/current-game-overview.tsx#L80
This component is mounted every time new game is loaded.

We could move the request for the map API to main file - app.
https://github.com/petrvecera/coh2ladders/blob/master/packages/app/src/renderer/windows/main/app.tsx

[2022-02-16 18:40] #155 closed

[2022-02-16 18:44] petrvecera opened #160 "Streamer mode - needs restart of the app to work"
Steps to reproduce:
- Disable streamer mode, exit the app
- Start the app, go to settings, enable streamer mode
- Setup the link with OBS, go to game (spectate something)

Result: The page with players doesn't update with new names.
Expected result: The page with players automatically updates when you load into game / change game.

[2022-02-18 14:34] JohannesMerkt opened #161 "Game notifications might get suppressed by windows"
This is due to a do not disturb feature in windows that holds back all notifications when in a game.

Here is the setting:
![grafik](https://user-images.githubusercontent.com/25324640/154702401-1809ba50-0b14-42ac-bad1-ec6c159d9d68.png)

One improvement here could be to play a sound in the app instead.

[2022-02-18 15:00] petrvecera commented on #161
Also the best way to inform users / documentation is to add this information to the settings. We can have the info icon in the settings. So when users howers about it - we can display this image - so the user knows

[2022-02-18 21:16] JohannesMerkt opened #162 "App does not update if you have the exact same opponents"
Currently every game gets a unique id based on the players in the game this has to include more params to resolve this.

[2022-02-20 12:59] #162 closed

[2022-02-22 09:38] petrvecera commented on #129
This is done

[2022-02-22 09:38] #129 closed

[2022-02-23 22:42] petrvecera opened #170 "Make title bar of different colors"
![image](https://user-images.githubusercontent.com/8086995/155421667-5f94e43d-5629-41d7-8945-97550f7f2182.png)

[2022-02-23 22:42] petrvecera commented on #170
Maybe we could use https://www.npmjs.com/package/custom-electron-titlebar

[2022-02-25 02:00] MajorBonesLive opened #172 "Path to warnings.log - Unable to manually select folder."
When I click on the "select" button to change my warnings.log path, nothing happens. I have tried this on two different computers - same result.

On one computer, it auto-selects my OneDrive folder.

[2022-02-25 08:15] micronanomilo opened #173 "my playercard is bugged"
So I searched my name on this around 5 months ago, it works just fine.

I came back to check again just yesterday, I am able to see my name, however, after I clicked on the result; the screen becomes blank (nothing but a white page)
I tried a simple diagnoses such as clearing web cookies, changing browser/device/ internet. Still, it doesn't work so I am here to seek help

[2022-02-25 08:16] micronanomilo commented on #173
Also, this is a link to my player card
https://coh2stats.com/players/76561198858149194

[2022-02-25 08:17] micronanomilo commented on #172
The same problem with me, the system didn't get my warning file right and thus it can't show the data

[2022-02-25 12:54] petrvecera commented on #172
@MajorBonesLive  , @micronanomilo  what is the language of your windows? Also could you please post a screenshot how it looks like in your settings window of the app? Thank you

[2022-02-25 12:55] petrvecera commented on #173
Thank you for the report. This is an issue on our side - the Relic servers are returning us something we don't expect - we will investigate and fix this.

[2022-02-25 14:38] micronanomilo commented on #172
I used my window 10 in EN-US, These are the information on 'about my computer':
Edition	Windows 10 Home Single Language
Version	20H2
Installed on	‎5/‎28/‎2021
OS build	19042.1526
Experience	Windows Feature Experience Pack 120.2212.4170.0

this is a screenshot
![image](https://user-images.githubusercontent.com/100407197/155733737-d2b5c544-ba5f-4d32-b87e-5220f6e961ac.png)

[2022-02-25 15:34] MajorBonesLive commented on #172
My windows language is English.
![Screenshot 2022-02-25 093313](https://user-images.githubusercontent.com/100253342/155742760-066c1dab-ba72-408b-91d9-db703af73c55.png)

[2022-02-25 16:18] petrvecera commented on #172
Thanks for the reports, we will investigate 👍

[2022-02-25 23:14] petrvecera commented on #173
Hi the issue has been fixed.  It's deployed on the dev version https://coh2-ladders-dev.web.app/players/76561198858149194  << you can use this web in meantime. It's gonna be on coh2stats.com with next bigger update.

The issue is this - relic lost info about this player team / maybe it was deleted user? idk
![image](https://user-images.githubusercontent.com/8086995/155815399-0b4fc216-203a-4b52-b0f

[2022-02-25 23:14] #173 closed

[2022-02-27 14:53] petrvecera opened #176 "BUG - Sometimes player cards doesn't have proper link / flag"
Sometimes the player names are lacking the flag and link to the username
![image](https://user-images.githubusercontent.com/8086995/155887331-397c1c6c-51aa-4720-8c47-70417dca149b.png)

[2022-02-27 16:15] petrvecera commented on #176
I think it's related to the teams
![image](https://user-images.githubusercontent.com/8086995/155890279-cdbfd356-aa99-435c-a676-6183de06bd37.png)

[2022-02-27 19:34] JohannesMerkt commented on #176
So the reason why this sometimes happens is that these players have never played a solo game in the respective automatch category that is being played (2v2, 3v3 or 4v4). Therefore "member" data of this player never got assigned.

[2022-02-27 21:48] #176 closed

[2022-02-27 21:48] petrvecera commented on #172
Fixed in 1.3.2

[2022-02-27 21:48] #172 closed

[2022-02-27 21:56] MajorBonesLive commented on #172
Download link not working:

![image](https://user-images.githubusercontent.com/100253342/155901550-0334c24d-b8d9-4533-8701-11819c3944d5.png)

[2022-02-27 22:06] petrvecera commented on #172
Yeah sorry about that - the automated build process of the app takes longer than the updated push of the files with links. We will have to slow down the link pushing. It should be up now.

[2022-02-27 22:09] MajorBonesLive commented on #172
Good deal, thanks!

[2022-02-27 22:15] petrvecera opened #179 "Maximize errors"

[2022-02-28 09:12] #179 closed

[2022-02-28 22:12] petrvecera commented on #170
Fixed by https://github.com/petrvecera/coh2ladders/pull/181

[2022-02-28 22:12] #170 closed

[2022-02-28 22:13] petrvecera opened #182 "Window doesn't remember the size when you restart the app"
When you open the app, resize, close the app. Open again it doesn't remember.

[2022-02-28 22:19] petrvecera opened #183 "Put events for opening settings / about window"

[2022-03-02 07:51] petrvecera opened #185 "searchPlayers CF needs improvements"
The Steam API is sometimes failing with error 500 or other errors / we should implement 1 repeat of the request if case the failure occurs. This happens mostly on the search function. Repeating the search query always results in the correct output.

[2022-03-02 18:52] #183 closed

[2022-03-02 20:12] JohannesMerkt opened #188 "App shows black main window"
Ive noticed duffmann having issues with the app on stream. He runs windows 11 and for some reason his app sometimes turns black. He then had to restart until it worked. This is likely a visual error as his streamer mode was still working.

[2022-03-02 23:17] petrvecera commented on #188
That's most likely an issue with combination of graphics card / drivers / windows. Could also include an issue with OBS and Windows. I've come across an issue on my laptop - chrome had black screen. https://helpdeskgeek.com/how-to/how-to-fix-an-obs-black-screen-capture-error/#:~:text=Disable%20Hardware%20Acceleration%20in%20Chrome&text=If%20you%20have%20hardware%20acceleration,will%20show%20a%20bl

[2022-03-04 21:08] petrvecera opened #189 "Streamer mode - add flags"
In the settings for the steamer mode, it should be possible to enable flags for nationalities

[2022-03-05 19:00] #185 closed

[2022-03-07 21:55] JohannesMerkt opened #192 "Add refresh button"
Add a refresh button for players to see how their rank changes after a match

[2022-03-08 14:09] petrvecera commented on #30
@[liaoyuzh](https://github.com/liaoyuzh)

Those fields are zlib
[code]
decoded
[code]

[2022-03-09 11:01] petrvecera commented on #192
This could be in the top menu.

[2022-03-12 18:05] liaoyuzh commented on #30
Impressive! How did you manage to find it out?

[2022-03-12 21:53] petrvecera commented on #30
Actually a friend of mine gave me a hint. We were talking about some stuff and I mentioned that I have some binary data from the API, which is from a game and it's not hash. He got idea that it could be compression and with that zlib came to mind as it's used a lot in the gaming industry.

Unfornatelly inside there is additional data which is not really human readable - that looks like some "flags

[2022-03-18 15:11] #192 closed

[2022-03-29 21:44] petrvecera opened #199 "Add nicknames to the player cards url"
We can add nicknames to the player card urls - to make them more user friendly

For example: https://aoe4world.com/players/6943917-Liquid-DeMusliM

Obviously we can ignore that name when parsing the URL, it's just for the sharing of the link

[2022-04-08 15:11] petrvecera opened #203 "Update package.json and favicon"
- I would like to update favicon on http://coh2stats.com/ to the new logo
- We could add the logo also on the left side - but I am not sure how it will look ? maybe not? ?
![image](https://user-images.githubusercontent.com/8086995/162470823-959918d2-de33-4bb4-af2b-e1259468c663.png)
- Update package.json with new version - ready for the release
- Add this link to the discord server https://discord.

[2022-04-08 15:12] petrvecera commented on #203
@JohannesMerkt  these are things I want to do before release I can make them later in the evening today, but if you have time feel free to do them too. I am not sure about the logo, maybe that's not important.

[2022-04-08 15:22] JohannesMerkt commented on #203
@petrvecera i will start working on the icon and the discord link

[2022-04-08 16:17] JohannesMerkt commented on #203
In https://github.com/cohstats/coh2stats/tree/1.3.4-release i have added the new logo and the discord links

[2022-04-11 15:31] petrvecera opened #206 "Add option to enable % instead of rank / level"
Because each leaderboard has a different amount of players it should be possible to enable % instead of level / rank. That way we can compare player skill across different leaderboards.

![image](https://user-images.githubusercontent.com/8086995/162775573-1998ba8c-ee31-4208-90ea-f4942a9c5bf4.png)

[2022-04-11 21:23] petrvecera opened #208 "Re-check the icon for the windows app"
It has weird white dots around itself - the previous icon didn't have that - not sure why

![image](https://user-images.githubusercontent.com/8086995/162827319-188ce004-4235-43b9-b1c9-329778cf7c09.png)

[2022-04-13 09:29] petrvecera opened #209 "Game detection becoming stuck - spamming events"
It looks like new game detection become stuck and is reporting a lot of new events - game not found.

![image](https://user-images.githubusercontent.com/8086995/163145911-c5139719-6980-4da8-a520-5fc40b20304c.png)

https://github.com/cohstats/coh2stats/blob/ce0d1a7c719580f6c5dfa3ffc913a777f543119d/packages/app/src/main/gameWatcher/index.ts#L99

No idea how that could happen.

[2022-04-13 11:19] JohannesMerkt commented on #208
I am aware of this and tried to fix it. Basically the issue is that i can only provide one image as icon. this image has to cover a wide range of sizes. Some very small ones like in the screenshot and some large ones 256x256. When i use a 256x256 image these artifacts occur, but when i use a small image the resolution is bad on the large icons...
![grafik](https://user-images.githubusercontent.com

[2022-04-13 11:21] #203 closed

[2022-04-13 11:22] petrvecera commented on #208
I would than use 96x96 if the artifacts doesn't occur with that? I think that size should be enough :) I wouldn't mid going even lower - if it makes problem. I think the icon in the task bar is something which is displayed most ofte.

[2022-04-13 11:34] JohannesMerkt commented on #208
yes that does look alot better https://github.com/cohstats/coh2stats/pull/210

[2022-04-13 11:36] JohannesMerkt commented on #208
![grafik](https://user-images.githubusercontent.com/25324640/163171611-4373dbc4-701e-4d78-b4d7-c41b448be72e.png)
![grafik](https://user-images.githubusercontent.com/25324640/163171652-f668ee03-7769-4cd2-aaee-b162e57d400b.png)
only in the taskbar some little issues remain

[2022-04-24 09:58] JohannesMerkt opened #213 "Fix shortcuts for app"
People have trouble finding the app in windows once installed. This is due to the installer not properly registering the app in windows.

A solution is switching to electron-react-boilerplate. I am currently working on this

[2022-04-25 19:13] JohannesMerkt opened #214 "Force single instance for App"
The app can be opened multiple times this can cause unexpected issues. Ports for the overlay extensions cant be used twice. Lock this into one instance.

This is how it should be done:
`
const { app } = require('electron')
let myWindow = null

const gotTheLock = app.requestSingleInstanceLock()

if (!gotTheLock) {
  app.quit()
} else {
  app.on('second-instance', (event, commandLine, workingDirecto

[2022-04-25 19:17] JohannesMerkt opened #215 "Improve guide for twitch extension setup in app"
I would suggest adding this into the tab aswell. And reducing the visual clutter to see the guide better. Maybe also add images for the setup and in the future add a link to the explainer video
![grafik](https://user-images.githubusercontent.com/25324640/165158265-23ba8c3f-c3bb-439e-a223-0595e03fdaae.png)

[2022-04-25 22:01] petrvecera commented on #215
I feel like the steps are pretty simple 🤦 it's literally 2 clicks ...  I think people didn't even try - otherwise there would be the records in the DB.

But yeah  -  we can add something to the first screen  - the text can be added to the first screen explaining the stuff.

In the last screen there could be:

Next steps:
1. Install the COH2 extension on Twitch
2. Copy the following UUID and enter

[2022-05-16 23:33] petrvecera opened #219 "Manually update data for commanders"
The commanders data are outdated because the source data released by Relic is old (they do not release coh2 dev tools anymore) but we can manually update them.

Last patch data are stored here:
https://github.com/cohstats/coh2stats/tree/master/packages/web/src/coh/data/cu2021

https://github.com/cohstats/coh2stats/blob/master/packages/web/src/coh/data/cu2021/bulletinData.json
https://github.com/co

[2022-05-20 12:54] #199 closed

[2022-05-26 12:56] petrvecera opened #222 "When someone changes their nickname - the url for their player card doesn't replace the old name"
When someone changes the nickname - it will

Consider these changes:
https://coh2stats.com/players/76561197982704567-picusoid-Luvnest
Also:
https://coh2stats.com/players/76561197982704567-picusoid-Luvnest?view=matches

[2022-05-30 15:01] petrvecera commented on #222
Also it's using history push which is wrong 🤦

[2022-06-13 09:48] petrvecera commented on #222
It looks like this MR didn't fix the problem https://github.com/cohstats/coh2stats/pull/226

[2022-06-22 14:53] LazyRen commented on #213
The only way I found to launch app is to use installer.exe.

[2022-07-04 10:51] petrvecera opened #229 "Live games sometimes can't be rendered"
Live game sometimes an be rendered
[broken-data.txt](https://github.com/cohstats/coh2stats/files/9038781/broken-data.txt)

[2022-07-11 22:25] #222 closed

[2022-07-22 09:19] #149 closed

[2022-07-22 09:20] petrvecera commented on #114
This has been solved you can check that in the live games https://coh2stats.com/live-matches

[2022-07-22 09:20] #114 closed

[2022-07-27 09:51] petrvecera commented on #31
We removed indexes for some fields - this saved us 22% of storage, went from 9GB to 7GB. The storage was 5GB for a long time, we moved to 9GB with increased amount of matches.

![image](https://user-images.githubusercontent.com/8086995/181218273-36f5b9c9-ee61-411d-9dd8-c7b322b3d82e.png)

[2022-08-03 18:44] chevankraaij opened #237 "Hard cap on average"
Hi,

I played the the following game (see screenshot) with players ranked 19, 19 & 16. The average was calculated as 16, the true average is 18. Is this working as intentional for victory chance probability purposes or a bug?

![Untitled](https://user-images.githubusercontent.com/72220043/182685529-6d7a5441-522e-47f7-92ee-8769853a586f.png)

[2022-08-03 19:29] petrvecera commented on #237
@chevankraaij  Was this that way when you were inside the game? It's possible that after the game the levels of those player changed - please let me know if you will see this again. Thanks

[2022-08-03 20:08] chevankraaij commented on #237
I made a picture to show a mate beforehand and its identical. I also checked their rankings directly after and indeed one got a demotion but that would still be 17 rather than 16.

I will let you know if it pops up again

[2022-08-04 16:37] RintFosk opened #238 "Option to show more players' stats on dashboard"
Often There is no rank nor team rank and level stats for the players showing on the dashboard, as player possibly plays exclusively arranged team and/or come back playing the game after a long time, causing their stat to be reset. On this occasion, the dashboard's current stats are insufficient to give valuable insights into players' in-game skill levels and experience.

e.g.
![image](https://user

[2022-08-07 22:46] petrvecera commented on #11
Resolved by changing the crawler process and calling more IDs per request

[2022-08-07 22:46] #11 closed

[2022-08-10 17:38] petrvecera opened #240 "There was an error loading the player card "\"Cannot convert undefined or null to object\""
https://coh2stats.com/players/76561198002777322
[data.txt](https://github.com/cohstats/coh2stats/files/9302667/data.txt)

[2022-08-10 21:34] petrvecera commented on #240
Fixed by https://github.com/cohstats/coh2stats/commit/251f2db4449f261e97ac531d574800e97c5bdc9f

[2022-08-10 21:34] #240 closed

[2022-08-13 07:16] LazyRen opened #242 "Streamer mode isn't functioning & port already used error window"
1. Both general mode & Twitch extension works fine, but Streamer mode (with OBS) doesn't show anything.

It sometimes work after changing server port few times back and forth, but it's not the definite solution.
And even if it does, only the rank is shown on wrong place

e.g) Notice Rank 78 & 18 shown on weird position (My setting for the layout is Left)
![화면 캡처 2022-08-13 161432](https://user-ima

[2022-08-15 09:03] petrvecera commented on #242
Hi, thanks for the report! This is most likely due to another instance of the app running or there is crashed detached process running on the background :( Please try to always quit the app via the X button or menu and not via ALT+F4 or things like that.

Also I think restart of the PC in this case should help.

We want to migrate to a different build process of the desktop app because now we are

[2022-08-15 13:01] LazyRen commented on #242
Thank you for your answer @petrvecera, I don't think it's problem of a duplicate instance of the app running because it always prints the error msg even if it's the first instance of the app I launched. And it always happens no matter what port # I choose.

However, I'm looking forward to seeing the next desktop app and hopefully, the situation would be eased by then.

[2022-08-18 07:10] petrvecera opened #243 "Display match details is not avaliable on mobile device with "request desktop site""
We are detecting mobile device like this:
https://github.com/cohstats/coh2stats/blob/master/packages/web/src/pages/matches/last-matches-table.tsx#L30

But even when you do request desktop site, it still stays in the mobile view.

![image](https://user-images.githubusercontent.com/8086995/185330737-c47538db-3e3d-4abb-b9ad-711d822b791a.png)

[2022-08-19 06:44] Janne252 opened #244 "Permission for CoH2 Replay Analyzer Discord bot to use coh2stats.com as playercard URLs"
Hey, due to the official ladders hosted by the Relic Entertainment having been taken offline several months ago, the replay info embeds created by the https://github.com/Janne252/coh2-replay-discord-bot point to invalid playercard URLs.

![image](https://user-images.githubusercontent.com/4705573/185558175-a91a4204-2209-4f2e-9ba8-e30b4cd302de.png)

Would it be okay for the bot to use `coh2stats.com

[2022-08-19 10:52] petrvecera commented on #244
Hi sure, no problem! I think you can point to the site as much as you can :)

That source would be welcomed addition :) Or you could ad referrer header https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer

I am not sure if it's automatically added or not from discord

[2022-08-19 11:40] Janne252 commented on #244
Thanks! I won't be able to set headers. I assume Discord redirects all URLs but I haven't inspected what headers Discord sets.

[2022-08-20 08:52] Janne252 commented on #244
Deployed.

[2022-08-20 08:52] #244 closed

[2022-08-21 17:34] petrvecera opened #246 "Create a list of map keys and map names"
We need to create a mapping between map server name and map display name:

It should look like this:
[code]

This list of maps is as follows:
4v4:
[code]

3v3:
[code]

2v2:
[code]

1v1:
[code]

[2022-08-21 23:11] JohannesMerkt commented on #246
@petrvecera interesting Label could also be mal size e.g 4v4, 3v3, 2v2 and 1v1

[2022-09-08 22:06] petrvecera commented on #219
This has been done.

[2022-09-08 22:06] #219 closed

[2022-09-25 12:38] petrvecera opened #253 "Hacktoberfest: Add expiration note to each match page"
Difficulty: Easy (You need to know React)
Getting started steps: https://github.com/cohstats/coh2stats#development

**Description**
You can visit single match like this https://coh2stats.com/matches/316981126 , each match is stored for 30 days. After that the data are deleted from the DB. We would like to add note about this to the right bottom corner.

<img width="603" alt="image" src="https://us

[2022-09-25 16:37] petrvecera opened #254 "Hacktoberfest: Create a new card with Top post from Reddit"
Difficulty: Medium
Getting started steps: https://github.com/cohstats/coh2stats#development

Create a new "card" component which will display the top 10 post from Reddit from the past week. It should look like https://aoe4world.com/
<img width="584" alt="image" src="https://user-images.githubusercontent.com/8086995/192154405-86cb9647-4f29-4923-a38c-22ca8be79b5b.png">

Would be great if we could di

[2022-09-26 13:50] saimaheshtaduri commented on #253
I am interested to work on this. can you assign it to me ? @petrvecera

[2022-09-26 14:04] Malay-dev commented on #254
If no one is already assigned, can I be assigned to this? I am interested.
@petrvecera

[2022-09-26 21:14] petrvecera opened #255 "Hacktoberfest: Limit the amount of displayed lines to 20"
Difficulty: Easy
Getting started steps: https://github.com/cohstats/coh2stats#development

Add button switch to filter only top 20 lines from the array of bulletins.
On  the stats page https://coh2stats.com/stats?range=month&statsSource=all&type=4v4&race=wermacht&timeStamp=1661990400
We have card for intel bulletins, to the header of the card, add switch which will display either all or top 20 onl

[2022-09-26 22:18] Giriraj-Roy commented on #255
Hello Sir,

I have gone through the repository and the given instructions. The issue seems to attract my interest and excites me to work on it. I humbly wait for you to assign the task to me if your analysis of my profile allows.

Yours Sincerely,
Giriraj Roy.

[2022-09-26 22:22] Giriraj-Roy commented on #255
Thank you and I am excited to have got this issue assigned. Will start PRs once the hacktoberfest starts.

Giriraj Roy

[2022-09-29 14:22] Malay-dev commented on #254
![test-2](https://user-images.githubusercontent.com/91375797/193057306-8a75a697-9fff-4fa6-aa20-91fadf6af983.png)

Hey, I just wanted to share the progress in making the "Reddit card" does this design seem good enough?

[2022-09-29 20:40] petrvecera commented on #254
Looks pretty great! We can try to apply on the info for each text.
[code]
![image](https://user-images.githubusercontent.com/8086995/193137289-153c0a9e-72d3-4f8a-8153-7f8bc6b5a8fe.png)

And maybe make the title of each post little bit better but otherwise it looks great! 🎉

More info for the text styling with Antd is here https://ant.design/components/typography/

[2022-09-30 10:55] petrvecera opened #256 "Hacktoberfest: Add form for editing user 5 fields on user profile"
Difficulty: Medium (you need to know React)
Getting started steps: https://github.com/cohstats/coh2stats#development

Add form for editing 5 fields:
- Twitch url
- Youtube url
- Reddit url
- coh2.org url
- twitter url

**Implementation:**

On url http://localhost:3000/userProfile there is userProfile page. You can find this component here
https://github.com/cohstats/coh2stats/blob/master/packages/

[2022-09-30 11:04] Manthan-Kuber commented on #256
I can take this up. Please assign

[2022-09-30 14:52] Manthan-Kuber commented on #256
Hey @petrvecera . If we ran a useEffect to save data to the db if it passes the regex checks, wouldn't that just make unnecessary api calls to the backend? I think the approach of a save button is better and save all of the fields at the same time in just 1 api call.Even if one of the fields are unedited ,  this would just lead to the db overwriting the data record with the same data. What do you

[2022-09-30 18:21] petrvecera commented on #256
Even more calls to the DB doesn't matter. As these things are not happening very often - people edit their info rarely.

But one save button is OK too. 👍

Overwriting the data record with the same data doesn't matter. We are using cloud NoSQL database called Firestore. You pay for write of the whole document. So it really doesn't matter if you overwrite only some parts of it or whole document. In

[2022-09-30 18:45] petrvecera opened #258 "Hacktoberfest: Improve UI of the search results"
Difficulty: Medium
Getting started steps: https://github.com/cohstats/coh2stats#development

We have a search on the site which does API call and shows player cards.
For Example:
https://coh2stats.com/search/killer

We want to improve this search so it also shows results from:
- Commanders https://coh2stats.com/commanders/wermacht
- Intel bulletins https://coh2stats.com/bulletins

(this is static

[2022-09-30 18:45] #119 closed

[2022-09-30 19:54] #253 closed

[2022-09-30 21:28] charlygg commented on #258
I know some react js and node js can I try this requirement?

[2022-10-01 02:30] Manthan-Kuber commented on #256
Nice👍
I am getting a lot of type errors. I have 'npm i' . Unable to start the work on it

[2022-10-01 09:18] petrvecera commented on #256
@Manthan-Kuber  you need to run `yarn install` in the root folder of the project https://github.com/cohstats/coh2stats#development
https://classic.yarnpkg.com/lang/en/docs/install/#windows-stable

than you can run `yarn web start`

[2022-10-01 09:40] petrvecera opened #260 "Hacktoberfest: Display empty card when no data are received"
Difficulty: Easy (you know react)
Getting started steps: https://github.com/cohstats/coh2stats#development

We display charts for match analysis on the card. Sometimes there are no specified data.
Which results in this:
![image](https://user-images.githubusercontent.com/8086995/193403138-ac542b37-bc2a-402e-b58e-6ff82fa6965f.png)

For example on this chart:
https://coh2stats.com/matches/316058123

[2022-10-01 09:49] najeebkp commented on #260
Hi @petrvecera  please assign this to me. i would like to contribute.

[2022-10-01 10:38] #260 closed

[2022-10-01 13:06] Malay-dev commented on #254
![test-3](https://user-images.githubusercontent.com/91375797/193410842-72518ffa-1dc7-4830-adec-6e83bc153743.png)
Hey, update - I have used antd - typography to style the info and the title. Is this fine? Shall I start the PR?

[2022-10-01 13:19] petrvecera commented on #254
Sure, you can post the PR! 👍

[2022-10-01 20:51] asi309 commented on #256
Please assign this to me.

[2022-10-01 20:52] asi309 commented on #255
If this is still open, I would like to take this up.

[2022-10-01 20:55] asi309 commented on #243
I can look into this issue. Please assign it to me

[2022-10-01 20:57] petrvecera commented on #255
Thank you for your interest but this is assigned to @Giriraj-Roy , we would let you know in case he can't finish it.

[2022-10-02 10:04] #254 closed

[2022-10-02 17:06] petrvecera opened #264 "Hacktoberfest: Improve the tooltip with more info"
Difficulty: Easy (if you know react)
Getting started steps: https://github.com/cohstats/coh2stats#development

For the stats https://coh2stats.com/stats?range=month&statsSource=all&type=4v4&race=wermacht&timeStamp=1664582400
Currently the tooltip looks like this
<img width="375" alt="image" src="https://user-images.githubusercontent.com/8086995/193463779-392825b9-b749-4725-af54-c729e347a60c.png">

[2022-10-02 18:29] indremak commented on #264
Hi, I'd like to work on this issue, could you assign me?

[2022-10-02 20:15] Cassper17 opened #265 "No data displayed"
![image](https://user-images.githubusercontent.com/114881803/193474326-ed54d582-d3c9-4a5d-9d11-b01bbc1611e6.png)
Hi. I do not know why, but I only see this. No data are shown, as highlighted on the pictures here https://coh2stats.com/desktop-app

What am I doing wrong?

[2022-10-02 20:17] petrvecera commented on #265
Did you played any game? Try to observe any game from in-game spectating mode. It should display data from that game.
If it doesn't please check the settings and post the the screenshot of the settings.

[2022-10-02 20:34] petrvecera opened #266 "Hacktoberfest: Count the amount of downloads of releases from the GitHub API"
Difficultly: Medium
Getting started steps: https://github.com/cohstats/coh2stats#development

You need to make a request to the Github API, count the amount of downloads (sum of all versions) and display this number here https://coh2stats.com/desktop-app

<img width="344" alt="image" src="https://user-images.githubusercontent.com/8086995/193474926-270efc60-4af5-4250-a472-af40e83b5955.png">

**Impl

[2022-10-02 20:41] yashdhanore commented on #266
Hey! i'll give this a shot

[2022-10-02 21:14] Cassper17 commented on #265
Yes, played two games. One over an hour, one 40+ minutes. ... But weird thing is, that it is not even showing up in the recorded games which I can view as a replay.

I would swear, that last week the program was working. I have installed new PC, just tested how this program worked (previously was using different one for the same purpose) and it showed myself playing vs easy PC or something (when I

[2022-10-03 12:06] Malay-dev commented on #254
Thank you for letting me work on this issue I really enjoyed working on it, do you have any other task I can take up? @petrvecera

[2022-10-03 13:25] petrvecera commented on #254
@Malay-dev  thank you for your contribution. Not right now. I have some tasks on my mind but I need to finish some things for them. If I will write up a new task, I will let you know 👍

[2022-10-03 18:22] petrvecera commented on #264
@indremak  Awesome, thank you for you contribution!

[2022-10-03 18:22] #264 closed

[2022-10-03 21:33] petrvecera commented on #265
You need to go to settings and locate the warnings log file. Normally it's in folder:
C:\Users\<user>\Documents\My Games\Company of Heroes 2\warnings.log

But on your computer it might be installed under different user or something

![image](https://user-images.githubusercontent.com/8086995/193688349-2db5a2f5-02da-4037-a84c-24da5da64602.png)

[2022-10-04 05:06] Cassper17 commented on #265
Perfect, this helped. Thanks a lot !

PS: Snad se uvidíme se u CoH3 :)

[2022-10-04 09:16] petrvecera commented on #265
I am glad it helped 👍

[2022-10-04 09:16] #265 closed

[2022-10-06 04:47] Giriraj-Roy commented on #255
Hello sir,
I just wanted to keep you up to date. I am facing a little difficulty in cloning the repo. I will try some other ways at hand. If that doesn't work, I hope you will guide me accordingly.

Thank you,
Giriraj Roy

[2022-10-07 13:09] Manthan-Kuber commented on #256
Yes thanks I installed yarn. I am working on it. Sorry for replying late. Got caught up with exams!

[2022-10-08 10:27] petrvecera commented on #258
@charlygg thank you very much for your work 👍

[2022-10-08 10:27] #258 closed

[2022-10-08 11:24] #256 closed

[2022-10-08 11:57] petrvecera opened #272 "Add page 404"
Add page 404

When you visit non-existing page https://coh2stats.com/idontexist it doesn't return anything.

Add 404 error
https://ant.design/components/result/#components-result-demo-404

The router is in https://github.com/cohstats/coh2stats/blob/master/packages/web/src/App.tsx

[2022-10-08 12:07] petrvecera opened #273 "Improve user profile page"
There is mock user profile page on `http://localhost:3000/userProfile`

![image](https://user-images.githubusercontent.com/8086995/194706414-522a3850-5e37-4492-83dc-dac3f1cb7626.png)

We need to:
- Add text "User profiles:" and remove the "profile" from each field
- As a placeholder for the input fields add example "links" (it's the grey text)
- Add icons for youtube, twitter and reddit,  https://

[2022-10-08 12:10] petrvecera opened #274 "Upgrade the menu to the new version AntD"
The top menu of the site:
![image](https://user-images.githubusercontent.com/8086995/194706769-91b44843-40c9-4a06-92c9-2c554174f5aa.png)

Is using components which have breaking changes in new version of AntD
See comments here: https://ant.design/components/menu/#Usage-upgrade-after-4.20.0

TASK: Update it to be compliant with Antd 4.20+, we already have  "antd": "4.22.2", so you can update it.

T

[2022-10-08 12:12] petrvecera opened #275 "Migrate the react-router to version 6.x"
The router is more or less defined here:
https://github.com/cohstats/coh2stats/blob/master/packages/web/src/App.tsx

We are on the React router version 5.x , we need to upgrade to version 6.x

[2022-10-08 13:40] yashdhanore commented on #266
@petrvecera Please have a look

[2022-10-08 14:53] indremak commented on #274
Hi, I would like to update this component. Could you assign me?

[2022-10-09 11:39] petrvecera commented on #266
Thank you for your contribution 👍

[2022-10-09 11:39] #266 closed

[2022-10-09 17:20] #274 closed

[2022-10-09 22:17] petrvecera opened #279 "Atnd - Tab Panel is deprecated"
In component `packages/web/src/pages/players/player-card.tsx` we are getting warnings about:
[code]

Update the tabs as per https://ant.design/components/tabs/

[2022-10-09 22:20] petrvecera opened #280 "Atnd - Modal visible is deprecated"
http://localhost:3000/players/76561198404414770-AshaBlois?view=recentMatches

![image](https://user-images.githubusercontent.com/8086995/194782101-ae679a7b-4740-43e6-b4e8-e5508b997159.png)

We are getting the warning:
[code]

The modal is used in `packages/web/src/utils/table-functions.tsx`

As per https://ant.design/components/modal/#header

[2022-10-09 23:06] StanislavKysela commented on #273
Hi, I would like to work on this issue. Is it possible to assign it to me?

[2022-10-10 07:13] MikulasMascautanu commented on #279
Can I take on this task, please m8?

[2022-10-11 08:24] tichopad commented on #275
I got this :+1:

[2022-10-11 08:25] tichopad commented on #272
Let me handle this :sunglasses:

[2022-10-12 11:56] MatejDurech commented on #238
hello i would like to be assigned for this project .

[2022-10-12 12:02] petrvecera commented on #238
Hi @MatejDurech  this tasks might be more complicated. I am not sure how well it's documented.
Some readme is here https://github.com/cohstats/coh2stats/tree/master/packages/app#development

It's in package app . It's an Electron desktop app.

The idea would be to use expandable row of table
https://ant.design/components/table/#components-table-demo-expand

Please let me know if you need any assis

[2022-10-12 12:16] petrvecera commented on #238
https://discord.gg/jRrnwqMfkr

[2022-10-12 12:24] MatejDurech commented on #238
i contacted you via Discord.

[2022-10-13 14:42] petrvecera commented on #255
@Giriraj-Roy the steps are:
 - fork the repo ( top right corner )
 - git clone
 - yarn install
 - yarn web start

 For developing the React FE

[2022-10-14 21:28] #279 closed

[2022-10-17 07:34] Giriraj-Roy commented on #255
Update :

I have added the required button in the instructed position.
Do let me know if any styling is required.

The before and after images of clicking the button are attached.

### Before

![image](https://user-images.githubusercontent.com/88903134/196115893-9f658ed5-0b7a-4d73-853f-00b1ddc94590.png)

### After

![image](https://user-images.githubusercontent.com/88903134/196116152-3b303814-a2f0

[2022-10-17 07:41] petrvecera commented on #255
@Giriraj-Roy  looks good ! 👍  But weed to do few more things.

I left the comments on the MR.

[2022-10-21 08:19] #272 closed

[2022-10-21 08:20] petrvecera commented on #280
@tichopad  you can look into this too if you want

[2022-10-21 08:35] tichopad commented on #280
Aight, I'll take it

[2022-11-13 14:32] petrvecera commented on #182
This looks to be fixed

[2022-11-13 14:32] #182 closed

[2022-11-23 18:14] kpolan47 opened #289 "Player card issue"
CoH 2 Logs & Stats ver. 1.5.0- clicking on player card returns "There was an error loading the player card
"\"Failed to fetch\"""
![2022-11-23](https://user-images.githubusercontent.com/118928515/203619248-d5790d23-147e-46ce-9718-14140f952236.png)

[2022-11-23 18:55] petrvecera commented on #289
Thanks for the report. Does it happen with every player?

As a workaround - in settings switch to open player cards in browser. Thanks

[2022-11-23 18:56] petrvecera commented on #238
Released in desktop app 1.5.0

[2022-11-23 18:56] #238 closed

[2022-11-23 19:37] kpolan47 commented on #289
yes, every player

[2022-11-23 19:39] kpolan47 commented on #289
also, clicking on Players, Stats, or Map Stats returns a spinning circle

[2022-11-24 22:48] JohannesMerkt commented on #289
This must be some sort of connectivity issue

[2022-11-25 11:09] petrvecera commented on #289
I recently deployed more advanced protection of the API because of un-authorized use. It's most likely connected to it. But I need to investigate more.

[2022-11-26 21:42] petrvecera commented on #289
Fixed in https://github.com/cohstats/coh2stats/releases/tag/v1.5.2

[2022-11-26 21:42] #289 closed